<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="description" content="Angular and D3.js based project management web application">
	<meta name="author" content="David Lane">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<title>Project Wheel</title>

</head>
<body ng-app="myApp" ng-controller="app-ctrl">

<div id="header" my-tabs>
	<ul id="btn-list">
		<li role="presentation" class="scroller noselect" ng-style="{color: rightColor}" ng-mousedown="scrollRightDown()" ng-mouseup="scrollRightUp()" ng-mouseleave="scrollRightUp()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</li>
		<li role="presentation" class="scroller noselect" ng-style="{color: leftColor}" ng-mousedown="scrollLeftDown()" ng-mouseup="scrollLeftUp()" ng-mouseleave="scrollLeftUp()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			<button ng-click="newProjectModal()" class="btn btn-success">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</li>
		<li>
			<button ng-click="editProjectModal()" ng-disabled="noProjects()" class="btn btn-primary">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</button>
		</li>
		<li>
			<button ng-click="removeProjectModal()" ng-disabled="noProjects()" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</li>
	</ul>

	<div id="wrapper">
		<ul id="tab-list">
			<li ng-repeat="x in projectsList" role="presentation" class="tab" ng-class="{active: isActive(x)}" ng-click="tabClick(x)">
				<span>{{x}}</span>
			</li>
		</ul>
	</div>

</div>

<div id="mainContainer" class="container-fluid">

<div class="row">
	<div class="col-xs-6">
		<div class="row">
			<div my-nodes id="svgDiv" ng-mousemove="taskMove($event)" ng-mouseup="taskUp()">
				<svg id="svg" width="100%" height="100%">
					<defs id="svgDefs">
						<filter id="dateArcFilter">
							<feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
							<feSpecularLighting in="blur" surfaceScale="5" specularConstant=".75" 
										              specularExponent="40" lighting-color="#bbbbbb"  
										              result="specOut">
								<fePointLight x="-5000" y="-10000" z="20000"/>
							</feSpecularLighting>
							<feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
							<feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" 
										       k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
							<feMerge>
								<feMergeNode in="litPaint"/>
							</feMerge>
						</filter>

						<filter id="arcFilter1">
							<feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur"/>
							<feOffset in="blur" dx="1" dy="1" result="offsetBlur"/>
							<feSpecularLighting in="blur" surfaceScale="5" specularConstant=".75" 
										              specularExponent="40" lighting-color="#bbbbbb"  
										              result="specOut">
								<fePointLight x="-5000" y="-10000" z="20000"/>
							</feSpecularLighting>
							<feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
							<feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" 
										       k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
							<feMerge>
								<feMergeNode in="offsetBlur"/>
								<feMergeNode in="litPaint"/>
							</feMerge>
						</filter>
					</defs>
				</svg>
			</div>
		</div>

	</div>

	<div class="col-xs-6" ng-hide="hidePanel()">

		<div class="row">
			<div class="col-xs-12" id="datesWin">
				<div class="panel panel-default" id="schedule">
					<div class="bold dark-grey-bg panel-body">
						<div class="left">{{curDateFormat().name}}</div>
						<div class="right">{{curDateFormat().diff}}</div>
					</div>
					<ul class="scroll list-group" id="task-list">
						<li ng-repeat="x in cp.tasks.filter(filterTasks) | orderBy:'start'"
						ng-style="setBGColor(x.color)" class="list-group-item" ng-mousedown="changeCurTaskID(x.id)">
							<span ng-show="cp.taskFinished(x.id)" class="tick badge">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</span>{{cp.taskMsg(x.id)}}
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2" id="tasksWin" ng-hide="hidePanel()">
		<accordion close-others="true">
		  <accordion-group ng-style="setBGColor(cp.tasks[cp.curTaskID].color)">
	      <accordion-heading>
	          {{cp.tasks[cp.curTaskID].name}} 
	          <i class="pull-right glyphicon glyphicon-chevron-down"></i>
	      </accordion-heading>
				<ul>
					<li class="grey-bg">
						From 	<span class='blue'>{{curTaskFormat().start}}</span>
						to 		<span class='blue'>{{curTaskFormat().end}}</span> ({{cp.tasks[cp.curTaskID].duration}} days)
					</li>
					<li class="grey-bg">
						Depends on: 
							<span class="label label-default label-family" ng-style="{'background-color': cp.tasks[x].color}" ng-repeat="x in cp.tasks[cp.curTaskID].children">
							{{cp.tasks[x].name}}
						</span>
					</li>
					<li class="grey-bg">
						Depended on by: 
							<span class="label label-default label-family" ng-style="{'background-color': cp.tasks[x].color}" ng-repeat="x in cp.tasks[cp.curTaskID].parents">
							{{cp.tasks[x].name}}
						</span>
					</li>
				</ul>
		  </accordion-group>
		</accordion>
	</div>
</div>

<!--
<div class="row">
	<div class="col-sm-8 col-sm-offset-2" id="tasksWin">
		<accordion>
			<accordion-group>
				<accordion-heading ng-style="setBGColor(cp.tasks[cp.curTaskID].color)">
					<div class="left">{{cp.tasks[cp.curTaskID].name;}}</div>
					<div class="right">Duration: {{cp.tasks[cp.curTaskID].duration;}}</div>
				</accordion-heading>
				<ul>
					<li class="grey-bg">
						Start on <span class='blue'>{{curTaskFormat().start}}</span> ({{curTaskFormat().startDiff}})
					</li>
					<li class="grey-bg">
						Finish on <span class='blue'>{{curTaskFormat().end}}</span> ({{curTaskFormat().endDiff}})
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</div>
</div>
-->
</div>

<script type="text/ng-template" id="removeProjectModal.html">
	<div class="modal-header">
	  <h3 class="modal-title">Remove Project</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to remove the project {{pn}}</p>
	</div>
	<div class="modal-footer">
		<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
		<button ng-click="ok()" class="btn btn-danger">Remove</button>
	</div>
</script>

<script type="text/ng-template" id="newProjectModal.html">
	<div class="modal-header">
	  <h3 class="modal-title">New Project</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="newProjectName">Project Name</label>
				<input type="text" class="form-control" ng-model="newProjectName" placeholder="my project">
			</div>
			<div class="form-group">
				<label for="newProjectStart">Project Start</label>
				<input type="date" class="form-control" ng-model="newProjectStart">
			</div>
			<div class="form-group">
				<label for="newProjectEnd">Project End</label>
				<input type="date" class="form-control" ng-model="newProjectEnd">
			</div>
<!--			<label for="radioOptDays">Project Period</label>
			<div class="form-group">
				<label class="radio-inline">
					<input type="radio" name="radioOptDays" id="radioOptDays" value="radioOptDays"> Days
				</label>
				<label class="radio-inline">
					<input type="radio" name="radioOptWeeks" id="radioOptWeeks" value="radioOptWeeks"> Weeks
				</label>
			</div>-->
		</form>
		<p ng-show="invalid()" class="center warningMsg">Invalid Dates</p>
	</div>
	<div class="modal-footer">
		<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
		<button ng-click="ok()" class="btn btn-success">Create Project</button>
	</div>
</script>

<script type="text/ng-template" id="editProjectModal.html">
	<div class="modal-header">
	  <h3 class="modal-title">Edit Project</h3>
	</div>
  <div class="modal-body">
		<accordion close-others="false">
			<accordion-group>
				<accordion-heading><h4>Tasks</h4></accordion-heading>
				<table class="table table-condensed fullWidth">
					<tr><th>Name</th><th>Duration</th><th></th></tr>
					<tr class="active">
						<td>
							<input type="text" class="form-control" ng-model="newTaskName">
						</td>
						<td>
							<input type="number" class="form-control" ng-model="newTaskLength">
						</td>
						<td>
							<button ng-click="cp.addTask(newTaskName,newTaskLength)" class="btn btn-success right">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
				<table class="table table-condensed fullWidth">
					<tr><th>Name</th><th>Duration</th><th></th></tr>
					<tr ng-repeat="x in cp.tasks.filter(filterTasks)" ng-style="{'background-color': x.color}">
						<td>{{x.name}}</td>
						<td>{{x.duration}}</td>
						<td>
							<button class="btn btn-danger btn-xs right" ng-click="cp.removeTask(x.id)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</accordion-group>
			<accordion-group>
				<accordion-heading><h4>Dependencies</h4></accordion-heading>
				<table class="table table-condensed fullWidth">
					<tr><th>Name</th><th>Depends On</th><th></th></tr>
					<tr class='active'>
						<td>
							<select class="form-control" ng-model="opt1">
								<option ng-repeat="x in cp.tasks.filter(filterTasks)">{{ x.name }}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="opt2">
								<option ng-repeat="x in cp.tasks.filter(filterTasks)">{{ x.name }}</option>
							</select>
						</td>
						<td>
							<button ng-click="setDep(opt1, opt2)" class="btn btn-success right">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
				<table class="table table-condensed fullWidth">
					<tr><th>Name</th><th>Depends On</th></tr>
					<tr ng-repeat="x in cp.tasks.filter(filterTasksDeps)" ng-style="{'background-color': x.color}">
						<td>{{x.name}}</td>
						<td>
							<table id="depsTab" class="fullWidth">
								<tr ng-repeat="y in x.children" ng-style="{'background-color': cp.tasks[y].color}">
									<td>{{cp.tasks[y].name}}</td>
									<td>
										<button class="btn btn-danger btn-xs right" ng-click="cp.removeDependency(x.id,y)">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</accordion-group>
		</accordion>
  </div>
  <div class="modal-footer">
		<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
		<button ng-click="ok()" class="btn btn-success">Apply</button>
  </div>
</script>

<script src="js/util.js"></script>
<script src="js/projectAPI.js"></script>
<script src="js/main.js"></script>
<script src="js/directives.js"></script>

</body>
</html>


